    /* ==========================
     GLOBAL
  ========================== */
body{
 font-family:'Poppins',Arial,sans-serif;
}
  .retail-page{
    
    animation:retailFade .8s ease;
}
@keyframes retailFade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
a {
  text-decoration: none ;
}
/* Container Utama */
.prd-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 25px;
  padding: 15px 0;
  justify-content: center;

}

/* Box Produk */
.prd-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}
.prd-card:hover {
  transform: translateY(-5px);
}

/* Gambar Produk */
.prd-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Isi Konten */
.prd-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Nama Produk */
.prd-title {
  font-size: 18px !important;
  font-weight: 600;
  color: #2d3436;
  margin: 0 0 10px 0;
}

/* Deskripsi */
.prd-desc {
  font-size: 14px;
  color: #636e72;
  margin-bottom: 15px;
  line-height: 1.5;
}

/* Harga */
.prd-price {
  margin-top: auto;
  font-size: 20px;
  font-weight: bold;
  color: #e17055;
  margin-bottom: 18px;
}

.qty-control {
  display: flex;
  gap: 12;
  justify-content: center;
  align-items: center;
}
.qty-number {
  padding: 0 20px ;
  font-weight: 500;
}
.prd-btn-cart{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 999px;
  background: #d0f7db;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all .2s;
}

.prd-btn-cart:hover{
  background: #05e991;
}

.prd-btn-cart .lucide {
    width: 20px;
    height: 20px;
}
/* Tombol Checkout */
.prd-btn-checkout {
  position: fixed;
  text-align: center;
  bottom: 40px;
  right: 20px;
  background: #0F766E;
  color: #fff;
  padding: 15px 25px;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  z-index: 999;
  display: none; /* Awalnya hilang */
}
  @media (max-width: 786px){
   .prd-btn-checkout {
     bottom: 100px;
     left: 80px;
     right: 80px;
    }
  }
.prd-btn-checkout.show {
  display: block;
}
.prd-btn-checkout:hover {
  background: #06524b;
  
}

/* STYLE KOLOM PENCARIAN */
#prd-search-box {
  width: 100%;
  max-width: 600px;
  padding: 12px 20px;
  border: 2px solid #e0e0e0;
  border-radius: 30px;
  font-size: 15px;
  margin: 10px auto 20px auto;
  display: block;
  outline: none;
  transition: border-color 0.3s;
}
#prd-search-box:focus {
  border-color: #0984e3;
}
.prd-search-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

/* Badge Jumlah */
.prd-qty {
  background: #E2E8F0;
  color: rgb(27, 26, 26);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight:600;
  margin-left: 8px;
}

/* ==========================
   HERO
========================== */
  .prd-hero {
     text-align: center;
     gap: 10px;
     margin-bottom: 14px;
     
  }
  
  .prd-hero-title {
    font-size:30px !important;
    font-weight:600;
    color:#06524b;
    
    letter-spacing:-0.5px;
    margin:0; 
  }
  .prd-hero-sub {
    text-align: center;
    font-size: 15px;
    margin-top: 0;
  }
  /* ==========================
   DRAWER
========================== */
.cart-drawer {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;

  background: #fff;
  box-shadow: -10px 0 30px rgba(0,0,0,.1);
  transition: .3s ease;
  

  z-index: 9999;
}
.cart-drawer.open{
  right: 0;
}
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  border-bottom: 1px solid #eee;
}
.drawer-body{
  padding: 20px;
  
}
.x-drawer {
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.x-drawer:hover {
 transform: scale(1.5);
 color: #e74c3c;
}
.trash-drawer {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  transition: transform 0.3s ease-in-out;
}
.trash-drawer:hover {
  transform: scale(0.9);
  color: #e74c3c;
}
.drawer-items {
  position: relative;
  display: block;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 10px;
}
.drawer-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px; 
  font-size: 18px;
}
.drawer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 30px;
  border-top: 1px solid #eee;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 padding: 10px 20px;
 border-radius: 20px;
 border: none;
 background-color: #0F766E;
 color: #E2E8F0;
 margin-top: 30px;
}
.checkout-btn::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(45deg, transparent 50%, #bada05 50%);
  background-size: contain;
  background-repeat: no-repeat;
}