.prd-card {
  position: relative;
}

.prd-bestseller {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: #ca2503;
  color: #fff;
  pointer-events: none;
  overflow: hidden;
}

.prd-bestseller::after {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;

  background: linear-gradient(
    110deg,
    transparent,
    rgba(255, 255, 255, 0.45),
    transparent
  );

  animation: bestsellerShine 3.5s ease-in-out infinite;
}

@keyframes bestsellerShine {
  0% {
    left: -120%;
  }

  35%,
  100% {
    left: 140%;
  }
}

.prd-promo-badge {
  position: absolute;
  bottom: 62px;
  right: 12px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 62px;
  padding: 6px 9px;

  border-radius: 10px;

  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.4px;

  background: #015735;
  color: #fff;

  pointer-events: none;
}

.prd-promo-label {
  font-size: 10px;
  width: 100%;
  text-align: left;
}

.prd-old-price {
  display: block;

  font-size: 13px;
  text-decoration: line-through;
  opacity: 0.55;
}

.prd-promo-price {
  display: block;

  font-size: 18px;
  font-weight: 700;
}
.prd-discount-wrap {
  display: flex;
}
.prd-discount {
  display: inline-block;
  margin-top: 2px;

  font-size: 13px;
  font-weight: 700;
}

.prd-discount.discount-highlight {
  animation: discountHighlight 0.5s ease-out;
}

@keyframes discountHighlight {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}